<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Anmelden</h1>

      <div class="alert alert-info">
        Melde Dich mit den gleichen Zugangsdaten (Name und Passwort) an, die Du auch für
        <%= link_to Setting['forum_name'], Setting['forum_url'] %> verwendest. Die Anmeldung
        wird zum Zweck der Überprpfung, dass sich nur Mitglieder von <%= Setting['forum_name'] %> auf der Karte
        eintragen an das Forum weitergereicht. Dein Passwort wird hier nicht gespeichert.
      </div>

      <%= render 'alerts' %>
      <%= render 'form' %>
    </div>
  </div>
</div>