<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Anmelden</h1>

      <div class="alert alert-info">
        Melde Dich mit den gleichen Zugangsdaten (Name und Passwort) an, die Du auch für
        <%= link_to 'diavel-forum.de', 'http://www.diavelforum.de' %> verwendest.
      </div>

      <%= render 'form' %>
    </div>
  </div>
</div>