// Use compass
@import "compass/css3";
$default-transition-duration : 0.8s;

// Set some Bootstrap variables and other globals
$navbarHeight: 55px;
$footerHeight: 30px;

// Make use of the Bootstrap framework
@import "twitter/bootstrap";